<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <mat-card class="skill-block">
        <mat-card-header>
          <i mat-card-avatar class="fa fa-mobile-alt accent-color fa-2x"></i>
          <mat-card-title>Responsive</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cum mollitia natus, at nulla architecto?</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-md-4">
      <mat-card class="skill-block">
        <mat-card-header>
          <i mat-card-avatar class="fa fa-tablet-alt accent-color fa-2x"></i>
          <mat-card-title>Web</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cum mollitia natus, at nulla architecto?</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-md-4">
      <mat-card class="skill-block">
        <mat-card-header>
          <i mat-card-avatar class="fa fa-desktop accent-color fa-2x"></i>
          <mat-card-title>Design</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cum mollitia natus, at nulla architecto?</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<mat-divider class="my-3"></mat-divider>

<div class="row">
  <div class="col-md-8">
    <h3>About me</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque accusamus sunt quod quibusdam quae quo dolores repellat sapiente,
      exercitationem voluptates ipsam vel tempore, aspernatur architecto? Et?</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ex tempore unde officia?</p>
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        <strong>HTML5 & CSS3</strong>
        <span class="float-right">100%</span>
        <mat-progress-bar value="100"></mat-progress-bar>
      </div>
      <div class="mb-3">
        <strong>Bootstrap 4</strong>
        <span class="float-right">80%</span>
        <mat-progress-bar value="80"></mat-progress-bar>
      </div>
      <div class="mb-3">
        <strong>UX Design</strong>
        <span class="float-right">70%</span>
        <mat-progress-bar value="70"></mat-progress-bar>
      </div>
    </div>
  </div>
  <mat-divider class="my-3"></mat-divider>

<div class="row mt-5">
  <div class="col-md-3">
    <i class="fab fa-angular fa-10x angular-color ol"></i>
  </div>
  <div class="col-md-9">
    <h2>Angular Development</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Blanditiis delectus molestias quae eius quia nemo voluptate deserunt consequuntur sapiente ut earum tenetur quaerat, ad sed eos?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure illo facere in similique.</p>
      <button></button>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-9">
    <h2>React Development</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Blanditiis delectus molestias quae eius quia nemo voluptate deserunt consequuntur sapiente ut earum tenetur quaerat, ad sed eos?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure illo facere in similique.</p>
      <button></button>
    </div>
  <div class="col-md-3">
    <i class="fab fa-react fa-10x react-color"></i>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-3">
    <i class="fab fa-vuejs fa-10x vue-color"></i>
  </div>
  <div class="col-md-9">
    <h2>Vue Development</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Blanditiis delectus molestias quae eius quia nemo voluptate deserunt consequuntur sapiente ut earum tenetur quaerat, ad sed eos?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure illo facere in similique.</p>
      <button></button>
  </div>
</div>
